* {
  box-sizing: border-box;
}

.container {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  background: lightgrey;
  grid-gap: 25px;
  border: $border1;
}

.box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: right;
  background: rgb(232, 233, 233);
}
.box:hover{
  background:$white;
  cursor: pointer;
}

#search {
  height: 50px;
  width: 30%;
  border: 2px solid coral;
  padding: 10px;
  margin-bottom: 20px;
}
img {
  margin: 20px;
  height: 120px;
  width: 120px;
  max-width: 100%;
  border-radius: $br-round;
  border:$border2;
 }


 h2{
  text-transform: uppercase;
  color: rgb(48, 59, 59);
  font-weight: 300;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
h3 {
  text-transform: capitalize;
  margin-top: 2em;
  font-size: 24px;
  color: rgb(48, 59, 59);
  font-weight: 400;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
  font-size:18px;
  color: rgb(109, 107, 107);
  font-family: 'Times New Roman', Times, serif;
}
