

.container {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 100px;
  background: rgb(177, 209, 245);
}

img {
  height: 200px;
  width: 200px;
  max-width: 100%;
  border-radius: 50%;
  border: 2px darkgrey;
}

h3 {
  font-size: 24px;
  color: darkgrey;
  font-family: Arial, Helvetica, sans-serif;
}
// body {
//   margin: 20px;
//   padding: 0;
//   background: #333;
// }

// .container {
//   max-width: 760px;
//   margin: auto;
//   border: #fff solid 3px;
//   background: #fff;
// }

// .imgs img {
//   width: 100%;
// }

// .imgs {
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
//grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
//   grid-gap: 25px;
// }

// /* Fade in animation */
// @keyframes fadeIn {
//   to {
//     opacity: 1;
//   }
