* {
  box-sizing: border-box;
}

.container {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background: lightgrey;
  grid-gap: 4px;
  border: 1px solid grey;

}

.box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: right;
  background: rgb(232, 233, 233);
}
.box:hover{
  background:white;
}

.info {
  margin: auto;
}
img {
  margin: 20px;
  height: 120px;
  width: 120px;
  max-width: 100%;
  border-radius: 50%;
  border: 2px solid grey;
 }


h3 {
  margin-top: 2em;
  font-size: 26px;
  color: darkgrey;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

